<div class="input-container">
  <div class="input">
    <input
      type="text"
      (input)="getBoardGameList($event)"
      [(ngModel)]="text"
      (ngModelChange)="onText()"
      [ngClass]="inputRadius ? 'radioOff' : 'radioOn'"
      (focus)="onFocus()"
    />
  </div>
  <div *ngIf="isFocus" class="list">
    <ul>
      <li (click)="selectGame(game)" *ngFor="let game of gameList.games">
        <span>{{ game.name }}</span>
        <span>{{ game.year_published }}</span>
      </li>
    </ul>
  </div>
</div>
