main {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
}

router-outlet {
  app-policy {
    flex: 1;
  }
}

@font-face {
  font-family: DellanaDemo;
  src: url("../assets/fonts/DellanaDemo.ttf");
}
