main {
  font-family: "Quicksand", sans-serif;

  //height: 100vh;
  display: flex;
  flex-direction: column;
}

router-outlet {
  app-policy {
    flex: 1;
  }
}

@font-face {
  font-family: DellanaDemo;
  src: url("../assets/fonts/DellanaDemo.ttf");
}

img {
  position: absolute;
}
