<div class="container__music">
  <div class="white">
    <div class="item item-1">
      <p>{{ game.name }} ({{ game.year_published }})</p>
    </div>
    <div class="container__music-central grid">
      <div>
        <div class="item item-2">
          <div class="videoWrapper">
            <iframe
              class="iframe"
              [src]="iframe()"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="item-2-meeple">
              <img src="../../../assets/meeple.svg" />
            </div>
          </div>
        </div>
        <div class="item item-4">
          <!--  <p *ngFor="let song of music.items">{{ song.snnipet.description }}</p> -->
          <table>
            <tr>
              <td class="first-column">Categories</td>
              <td>
                <span *ngFor="let category of categories"
                  >{{ category.name }}
                </span>
              </td>
            </tr>
            <tr>
              <td class="first-column">Players</td>
              <td>{{ game.min_players }} to {{ game.max_players }} players</td>
            </tr>
            <tr>
              <td class="first-column">Time</td>
              <td>{{ game.min_playtime }} - {{ game.max_playtime }} minutes</td>
            </tr>
            <tr>
              <td class="first-column">Age</td>
              <td>+{{ game.min_age }} years</td>
            </tr>
            <tr>
              <td class="first-column">Valoration</td>
              <td>{{ game.average_user_rating | number: "1.0-2" }} / 5</td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        <div class="item item-3">
          <!--  <img [src]="game.image_url" /> <img src="../../../assets/j.jpg" /> -->
          <div class="item-3-img"><img [src]="game.image_url" /></div>
          <!--<div class="item-3-info">
            <table>
              <tr>
                <td>Categories</td>
                <td>
                  <span *ngFor="let category of categories"
                    >{{ category.name }}&nbsp;</span
                  >
                </td>
              </tr>
              <tr>
                <td>Number of players</td>
                <td>{{ game.min_players }} {{ game.max_players }}</td>
              </tr>
              <tr>
                <td>Time</td>
                <td>{{ game.min_playtime }} {{ game.max_playtime }}</td>
              </tr>
              <tr>
                <td>Valoration</td>
                <td>{{ game.average_user_rating }}</td>
              </tr>
            </table>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
