.media {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;

  &-img {
    img {
      border-radius: 20px 20px 0 0;
      height: 340px;
      width: 340px;
      padding: 20px;
      border-radius: 40px;
      -webkit-filter: opacity(80%) grayscale(60%);
      filter: opacity(80%) grayscale(60%);
      object-fit: contain;

      @media (max-width: 320px) {
        width: 100%;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;

    .material-icons {
      font-size: 50px;
      color: rgba(16, 209, 119, 0.829);
      cursor: pointer;

      &:hover {
        color: #eb3349;
      }
    }
  }

  &-buttons-2 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    .material-icons {
      font-size: 20px;

      color: rgba(16, 209, 119, 0.829);
      cursor: pointer;

      &:hover {
        color: #eb3349;
      }
    }
  }

  &-video {
    display: none;
  }
}

.timeBox {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  font-size: 0.8rem;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.media-controls {
  height: 150px;
  padding: 0px 20px;
}
.controls {
  animation: show 1s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
