@import "~@angular/material/core/theming/all-theme";
@import "./assets/palette/theme.scss";

@include mat-core();

$iron-app-primary: mat-palette($mat-iron-green);
$iron-app-accent: mat-palette($mat-iron-green);
$iron-app-warn: mat-palette($mat-iron-green);
$iron-app-theme: mat-light-theme(
  $iron-app-primary,
  $iron-app-accent,
  $iron-app-warn
);

@include angular-material-theme($iron-app-theme);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: url("/assets/background.png"),
    linear-gradient(to right, hsl(8, 89%, 61%), #eb3348);
  background-blend-mode: soft-light;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
